@import '../../../styles/variables.scss';

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 4px;
  background-color: $neutral-white;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.10);
  overflow: hidden;
  margin: 10px;
  width: 310px;

  .card-body {
    padding: 16px;
  }
}
