@import '../../../styles/variables.scss';

.container-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $primary-color;
  height: 30px;
  width: 100%;
}

.container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $neutral-white;
  margin-top: 6px;
}

.text {
  font-size: 12px;
  margin: 0;
}
