$primary-color: #07B0FB;
$primary-color-soft: #3dc0fa;
$primary-lighten: #d6f0fd;
$neutral-dark: #3F3F3F;
$neutral-dark-01: #262626;
$neutral-white: #FFFFFF;
$neutral-gray: #F4F4F4;
$alert-red: #E54E4E;
$alert-green: #69c669;


