<app-nav></app-nav>
<div class="center-container">
 <app-input [(value)]="code" label="Enter the currency code"></app-input>
</div>
<div class="center-container">
  <app-button [isDisabled]="code.trim() === ''" (buttonClick)="handleClickCurrencyRate()"> exchange result</app-button>
</div>
  <hr class="container-line">

<div *ngIf="showComponents">
  <div class="container-result-title" >
    <div class="container-result-date">
      <p class="title">Exchange rate now</p>
      <p class="subtitle">{{currencyRate.lastUpdatedAt | date: 'dd/MM/yyyy - HH:mm'}}</p>
    </div>
    <div class="container-symbol">
      <p class="symbol">{{currencyRate.fromSymbol}}/BRL</p>
    </div>
  </div>
  <div class="container-result-value">
    <p class="result-value">{{currencyRate.exchangeRate | currency:'BRL':'symbol'}}</p>
  </div>
  <app-expansion-panel titulo="Last 30 Days" (togglePanelEvent)="handleClickDailyRate()">
    <div class="card-container">
      <app-card>
        <p class="data-value">07/03/2022</p>
          <div class="flex-container">
            <p class="label">Open:</p>
            <p class="result">5.0669</p>
            <p class="label">High:</p>
            <p class="result">5.0669</p>
          </div>
          <div class="flex-container">
            <p class="label">Close:</p>
            <p class="result">4.0669</p>
            <p class="label">Low:</p>
            <p class="result">5.0669</p>
          </div>
          <div class="flex-container-diff">
            <p class="label-diff">Close DIff(%):</p>
            <p class="result-diff">1.15%</p>
          </div>
      </app-card>
    </div>

  </app-expansion-panel>
</div>

<app-footer text="Copyright 2023 - Action Labs"></app-footer>


