@import '../styles/variables.scss';

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.input-code {
  text-transform: uppercase
}

.container-line {
  margin: 32px 15px 32px 15px;
}

.container-result-date {
  text-align: left;
}

.container-result-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-symbol {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.title {
  font-size: 18px;
  font-weight: 600;
  color: $neutral-dark-01;
  margin: 0 0 5px 0;
}

.subtitle {
  font-size: 14px;
  font-weight: 400;
  color: $neutral-dark-01;
  margin: 0;
}

.symbol {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: $primary-color;
}

.container-result-value {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px 32px 15px;
  background-color: $primary-lighten;
}

.result-value {
  color: $primary-color;
  font-size: 32px;
  font-weight: 700;
}

.data-value {
  color: $primary-color;
  font-size: 14px;
  font-weight: 600;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.flex-container-diff {
  display: flex;
  flex-direction: row;
}

.label {
  color: $neutral-dark;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  width: 5px;
}

.label-diff {
  @extend .label;
  width: 0;
}

.result {
  color: $neutral-dark;
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px 0 0;
}

.result-diff {
  font-size: 16px;
  font-weight: 600;
  color: $alert-green;
  margin: 0 0 0 50px;
}

app-card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
}


@media (max-width: 975px) {
  app-card {
    width: 100%;
  }
}
